.add-player {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 16px;
    background-color: #34495E;
}

.add-player input {
    flex-grow: 1;
    border: none;
    border-radius: 0;
    font-size: 16px;
    padding: 8px 12px;
    font-family: 'Merriweather', serif;
}

.add-player input::placeholder {
    color: #dfe4ea;
}

.add-player button {
    font-family: 'Merriweather', serif;
    height: 100%;
    margin-left: 12px;
    font-size: 16px;
    padding: 8px 12px;
    color: #34495E;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
    .add-player {
        border-radius: 8px;
    }
}