.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
}

.player + .player {
    margin-top: 12px;
}

.player h2 {
    margin: 0;
    padding: 0 16px;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.score {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    border-left: 12px solid #f6f6f6;
}

.score button {
    height: 48px;
    width: 48px;
    font-size: 32px;
}

.score span {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 64px;
    padding: 0 8px;
    font-weight: bold;
    background-color: #f6f6f6;
    color: #778beb;
}

@media only screen and (min-width: 640px) {
    .player {
        border-radius: 8px;
    }

    .score button {
        height: 54px;
        width: 54px;
    }
}