.player {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    padding: 16px;
    padding-bottom: 52px;
    background-color: #fff;
}

.player:last-child {
    border-bottom: 2px solid #CDD9E4;
}

.player h2 {
    font-size: 16px;
    margin: 0;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
}

.player h2::before {
    content: '';
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    border-radius: 50%;
    background-color: #E74C3C;
}

.player-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.score {
    font-size: 20px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.buttons-container button {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #EAECEE;
    border: 2px solid #34495E;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {
    .player {
        padding-left: 4px;
        padding-right: 4px;
    }

    .player h2 {
        max-width: 640px;
    }

    .player:last-child {
        border-bottom: none;
    }
}