* {
    box-sizing: border-box;
}

html {
    font-family: 'Merriweather', serif;
    color: #303952;
}

body {
    margin: 0;
    background-color: #fafafa;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 640px;
}

h1 {
    margin: 0 0 16px 0;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 4px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #303952;
    background-color: #fff;
}

@media only screen and (min-width: 640px) {
    body {
        background-color: #ffffff;
    }
    h1 {
        margin-bottom: 32px;
    }

    header {
        padding: 32px 0;
    }
}