html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 640px;
}

h1 {
    margin: 0 0 16px 0;
}

header {
    padding: 32px 0;
}

@media only screen and (min-width: 640px) {
    .app-container {
        margin-top: 32px;
    }
}